<div>
  <% @students.each do |student| %>
    <div>
        <h1>
          <%= link_to(student.first_name, students_path(student)) + " " + student.last_name %>
        </h1>
    </div>
  <% end %>
</div>
